@model AsusGigaInsp.Models.InspStartModels
@{
    ViewBag.Title = "検査開始";
}
<link href="~/Content/InspStart.css" rel="stylesheet" />
@using (Html.BeginForm("Entry", "InspStart", "", FormMethod.Post, new { id = "EntryForm" }))
{
    <!-- TOPエリア ------------------------------------------------------------------------------------------->
    <div class="row d-flex align-items-end">
        <div class="col-md-9">
            <h4 style="margin-top:10px;">検査開始</h4>
        </div>
        <div class="col-md-3">
            <h5 class="text-primary font-weight-bold" id="dispLineID"></h5>
        </div>
    </div>
    <hr style="margin-top:5px;">
    <div class="form-row" style="margin-top:15px;">
        @Html.TextAreaFor(model => model.MasterCartonSerial, 6, 100, new { @class = "form-control form-control-sm  d-flex align-items-center", style = "max-width:400px;", inputmode = "url", placeholder = "マスターカートンQR" })
        <div class="row">
            <button type="button" class="btn btn-danger btn" style="margin-left:20px;" name="InspEntryBtn" id="InspEntryBtn">登録</button>
            <button type="button" class="btn btn-danger btn" style="margin-left:3px;" name="Clear" id="ClearBtn">クリア</button>
        </div>
    </div>
    <div id="MasterCartonSerialErr"></div>
    @Html.ValidationMessageFor(model => model.MasterCartonSerial)
    <!-- 結果エリア ------------------------------------------------------------------------------------------>
    <table class="table table-striped table-bordered table-sm table-hover" style="margin-top:20px;">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().SONo)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().n90N)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().ModelName)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().SerialNumber)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().LineID)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().StatusName)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().StatusUpdateDate)</th>
                <th>@Html.DisplayNameFor(model => model.InspStartSerialLists.First().UserName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InspStartSerialLists)
            {
                <tr>
                    <td align="center">
                        <input type="button" class="btn btn-info btn-sm w-5 h-5 fixed_btn2" style="font-size:11px; padding:1px;" data-toggle="modal" data-target="#LineChangeModal" data-recipient=@(item.SerialNumber) name="Usage" value="ライン修正">
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.SONo)</td>
                    <td>@Html.DisplayFor(modelItem => item.n90N)</td>
                    <td>@Html.DisplayFor(modelItem => item.ModelName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.LineID)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatusUpdateDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                </tr>
            }
        </tbody>
    </table>
}
<audio src="~/Content/audio/EntryComplete_F.mp3" id="auEntryComplete"></audio>
<!-- ライン選択 ------------------------------------------------------------>
@if (string.IsNullOrEmpty(Model.LineID))
{
    <div class="modal fade" tabindex="-1" role="dialog" id="LineSelectModal" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ライン選択</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form role="form" id="modalForm" action="/InspStart/SelectLine" method="POST">
                    <!-- Modal ボディー -->
                    <div class="modal-body">
                        <div class="form-row" style="margin-bottom: 10px;">
                            @Html.DropDownListFor(
                                 model => model.LineID, // プロパティ
                                 new SelectList(Model.DropDownListLine, "LineID", "LineName"),
                                 new { @class = "form-control form-control-sm", style = "max-width:100px;" }
                             )
                        </div>
                    </div>
                    <!-- Modal フッター -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="chgDateSub" value="dateup">選択</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<!-- ライン修正 ------------------------------------------------------------>
<div class="modal fade" tabindex="-1" role="dialog" id="LineChangeModal" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ライン修正</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" id="modalFormLineChange" action="/InspStart/LineChange" method="POST">
                <!-- Modal ボディー -->
                <div class="modal-body">
                    @Html.HiddenFor(modelItem => Model.LineID)

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">変更対象シリアルナンバー:</label>
                        @Html.TextBoxFor(modelItem => Model.SrchSerialNo, new { @readonly = "readonly", @class = "form-control", id = "recipient-name" })
                    </div>
                    <div class="form-row" style="margin-bottom: 10px;">
                        @Html.DropDownListFor(
                             model => model.EntLineID, // プロパティ
                             new SelectList(Model.DropDownListLine, "LineID", "LineName"),
                             new { @class = "form-control form-control-sm", style = "max-width:100px;" }
                         )
                    </div>
                </div>
                <!-- Modal フッター -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="chgLineSub" value="test">修正</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $('#MasterCartonSerial').focus();
        $('#MasterCartonSerial').select();

        // ライン選択モーダル表示処理
        var strLineID = "@Model.LineID";
        if (isEmpty(strLineID)) {
            $('#LineSelectModal').modal();
        } else {
            $("#dispLineID").text("選択ライン：" + strLineID);
        }

        var CompleteFlg = "@ViewBag.CompleteFlg";
        if (CompleteFlg == "true") {
            $("#auEntryComplete")[0].play();
        };

        // ライン修正モーダル表示処理
        $('#LineChangeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('recipient');
            var modal = $(this);
            modal.find('.modal-body input#recipient-name').val(recipient);
        });

        // マスターカートンQRエンターエンター時
        EnterFlg = false;
        $('#MasterCartonSerial').keypress(function (e) {
            if (EnterFlg && e.keyCode == 13) {
                if (!isEmpty($('#MasterCartonSerial').val())) {
                    EnterFlg = false;
                    //$('form').attr('action', '/InspStart/Entry');
                    $('#EntryForm').submit();
                    return true;
                }
            } else if (e.keyCode == 13) {
                EnterFlg = true;
            } else {
                EnterFlg = false;
            }
        });

        // 登録ボタンを押下時
        $('#InspEntryBtn').on('click', function () {
            if (!isEmpty($('#MasterCartonSerial').val())) {
                $('#EntryForm').submit();
                return true;
            }
            return false;
        });

        // クリアボタンクリック処理
        $("#ClearBtn").on("click", function () {
            clearForm(this.form);
        });

    });
</script>
