@model AsusGigaInsp.Models.ProgressBoardAdmModels
@{
    ViewBag.Title = "進捗ボード";
}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Language" content="ja">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link href="~/Content/ProgressBoard.css" rel="stylesheet" />
</head>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <h2>
        <u>ASUS新品検品　進捗管理ボード</u>
    </h2>
    <br />
    <div class="form-row">
        <label for="SrchWorkingDate" class="col-form-label-sm">稼働日</label>
        @Html.TextBoxFor(model => model.SrchWorkingDate, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "", id = "SrchWorkingDate", name = "SrchWorkingDate" })
        <input type="submit" class="btn btn-primary" formaction="/WhiteBoard/ProgressBoardSearchResult" name="Search" value="検索">
    </div>
    <br />
    <!-- ここから検索結果 ------------------------------------------------------------------>
    <table class="table table-sm">
        <thead class="thead-light">
            @if (Model.SrchRstDisplayTime != null)
            {
                foreach (var item in Model.SrchRstDisplayTime)
                {
                    <tr>
                        <th></th>
                        <th></th>
                        <th style="border-left:2px solid; border-color:black;">@Html.DisplayFor(modelItem => item.Period01)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period02)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period03)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period04)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period05)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period06)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period07)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period08)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period09)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period10)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period11)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period12)</th>
                        <th>@Html.DisplayFor(modelItem => item.Period13)</th>
                    </tr>
                }
            }
        </thead>
        <tbody>
            @if (Model.SrchRstProgressBoardAdm != null)
            {
                foreach (var item in Model.SrchRstProgressBoardAdm)
                {
                    string StrClass = null;
                    string StrStyle = null;
                    <tr>
                        @if (item.Division == "投入数")
                        {
                            StrClass = "table-default";
                            if (item.LineName == "合計")
                            {
                                <td class="@StrClass" style="@StrStyle; text-align: left">@Html.ActionLink((item.LineName), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; text-align: center">@Html.ActionLink((item.Division), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; border-left: 2px solid">@Html.ActionLink((item.Period01), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 10:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period02), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 11:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period03), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 12:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period04), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 13:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period05), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 14:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period06), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 16:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period07), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 17:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period08), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 18:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period09), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 19:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period10), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 20:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period11), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 21:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period12), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 22:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period13), "SearchFromOutSide", "InspStart", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                            }
                            else
                            {
                                <td class="@StrClass" style="@StrStyle; text-align: left">@Html.ActionLink((item.LineName), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; text-align: center">@Html.ActionLink((item.Division), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; border-left: 2px solid">@Html.ActionLink((item.Period01), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 10:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period02), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 11:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period03), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 12:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period04), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 13:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period05), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 14:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period06), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 16:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period07), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 17:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period08), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 18:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period09), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 19:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period10), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 20:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period11), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 21:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period12), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 22:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period13), "SearchFromOutSide", "InspStart", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                            }
                        }
                        else
                        {
                            StrClass = "table-success";
                            StrStyle = "border-bottom: 2px solid black;";
                            if (item.LineName == "合計")
                            {
                                <td class="@StrClass" style="@StrStyle; text-align: left">@Html.ActionLink((item.LineName), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; text-align: center">@Html.ActionLink((item.Division), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; border-left: 2px solid">@Html.ActionLink((item.Period01), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 10:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period02), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 11:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period03), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 12:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period04), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 13:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period05), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 14:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period06), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 16:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period07), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 17:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period08), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 18:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period09), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 19:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period10), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 20:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period11), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 21:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period12), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 22:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period13), "SearchFromOutSide", "InspEnd", new { SearchLine = "", SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                            }
                            else
                            {
                                <td class="@StrClass" style="@StrStyle; text-align: left">@Html.ActionLink((item.LineName), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; text-align: center">@Html.ActionLink((item.Division), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 23:59:59" }, null)</td>
                                <td class="@StrClass" style="@StrStyle; border-left: 2px solid">@Html.ActionLink((item.Period01), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 10:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period02), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 11:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period03), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 12:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period04), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 13:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period05), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 14:50:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period06), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 16:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period07), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 17:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period08), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 18:00:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period09), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 19:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period10), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 20:10:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period11), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 21:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period12), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = Model.SrchWorkingDate + " 22:20:00" }, null)</td>
                                <td class="@StrClass" style="@StrStyle;">@Html.ActionLink((item.Period13), "SearchFromOutSide", "InspEnd", new { SearchLine = item.LineName, SearchTime = DateTime.Parse(Model.SrchWorkingDate).AddDays(1).ToString("yyyy/MM/dd") + " 00:00:00" }, null)</td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    // ADS到着予定日Fromクリック処理
    $('#SrchWorkingDate').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

</script>
