<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIVA - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/tablesorter")
</head>
<body>
    <div class='fixed-top'>
        <nav id="navigation" class="navbar">
            @Html.ActionLink("SIVA", "WhiteBoard", "WhiteBoard", null, new { @class = "logo" })
            <ul class="links">
                @using AsusGigaInsp.Modules
                @if (User.Identity.IsAuthenticated && Session["ID"] != null)
                {
                    // ユーザー情報を取得
                    UserInfo userInfo = new UserInfo(Session["ID"].ToString());

                    @*管理者用のメニューを生成*@
                    if (userInfo.AuthorityKbn == "1")
                    {
                        <li class="dropdown">
                            <a href="#" class="trigger-drop">進捗確認<i class="arrow"></i></a>
                            <ul class="drop" style="padding-left:10px;">
                                <li style="margin-right:150px;">@Html.ActionLink("ホワイトボード", "WhiteBoard", "WhiteBoard")</li>
                                <li>@Html.ActionLink("進捗ボード", "ProgressBoard", "WhiteBoard")</li>
                                <li>@Html.ActionLink("自動切換え", "WhiteBoard_A", "WhiteBoard")</li>
                            </ul>
                        </li>

                        <li>@Html.ActionLink("オーダーリスト", "SOListSearch", "SOList")</li>
                        <li>@Html.ActionLink("シリアルリスト", "Index", "SerialList")</li>
                        <li class="dropdown">
                            <a href="#" class="trigger-drop">工程用<i class="arrow"></i></a>
                            <ul class="drop" style="padding-left:10px;">
                                <li style="margin-right:70px;">@Html.ActionLink("検査開始", "Index", "InspStart")</li>
                                <li>@Html.ActionLink("検査完了", "Index", "InspEnd")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="trigger-drop">マスタメンテ<i class="arrow"></i></a>
                            <ul class="drop" style="padding-left:10px;">
                                <li style="margin-right:150px;">@Html.ActionLink("ユーザーマスタ", "UserSearch", "Master")</li>
                                <li>@Html.ActionLink("非稼働日取り込み", "HolidayDataUpLoad", "Master")</li>
                                <li>@Html.ActionLink("作業計画取り込み", "PlanDataUpLoad", "WhiteBoard")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="trigger-drop">工程用<i class="arrow"></i></a>
                            <ul class="drop" style="padding-left:10px;">
                                <li style="margin-right:70px;">@Html.ActionLink("検査開始", "Index", "InspStart")</li>
                                <li>@Html.ActionLink("検査完了", "Index", "InspEnd")</li>
                            </ul>
                        </li>
                    }
                    <li><a href="https://192.168.121.181" target="_blank" class="text-primary"><u>カメラツール</u></a></li>
                    <li class="text-success mark" style="padding-top:0;">@userInfo.UserName</li>
                }
                <li>@Html.ActionLink("ログアウト", "Logout", "Auth")</li>
            </ul>
        </nav>
    </div>
    <div class="page-title">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Address Service Co., Ltd.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cmnlib")
    @RenderSection("scripts", required: false)
</body>
</html>
