@model AsusGigaInsp.Models.SOListModels
<table class="table table-striped table-bordered table-sm table-hover">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().SONO)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().n90N)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().ModelName)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().ShippingQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().FixedShippingQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().EstArrivanDate)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().PrefReportingDate)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().SiTekEstArrivalDate)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().DeliveryLocation)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().CompleteWorkUnit)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().DOAUnit)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().N01NO)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().SOStatusName)</th>
            <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().STChangeDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SrchRstOrderList)
        {
            <tr>
                <td>
                    <input type="submit" class="btn btn-danger btn-sm" name="SOListUpdateLink" formaction="/SOList/SOListUpdate?SOID=@(item.SOID)" value="編集"></input>
                </td>
                <td>@Html.DisplayFor(modelItem => item.SONO)</td>
                <td>@Html.DisplayFor(modelItem => item.n90N)</td>
                <td>@Html.DisplayFor(modelItem => item.ModelName)</td>
                <td>@Html.DisplayFor(modelItem => item.ShippingQuantity)</td>
                <td>@Html.DisplayFor(modelItem => item.FixedShippingQuantity)</td>
                <td>@Html.DisplayFor(modelItem => item.EstArrivanDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PrefReportingDate)</td>
                <td>@Html.DisplayFor(modelItem => item.SiTekEstArrivalDate)</td>
                <td>@Html.DisplayFor(modelItem => item.DeliveryLocation)</td>
                <td>@Html.DisplayFor(modelItem => item.CompleteWorkUnit)</td>
                <td>@Html.DisplayFor(modelItem => item.DOAUnit)</td>
                <td>@Html.DisplayFor(modelItem => item.N01NO)</td>
                <td>@Html.DisplayFor(modelItem => item.SOStatusName)</td>
                <td>@Html.DisplayFor(modelItem => item.STChangeDate)</td>
            </tr>
        }
    </tbody>
</table>
