@model AsusGigaInsp.Models.SOListModels
<table class="table-base" style="width:1145px;">
    <thead>
        <tr>
            <th style="width:45px;">
            </th>
            <th style="width:50px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().SONO)
            </th>
            <th style="width:270px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().n90N)
            </th>
            <th style="width:170px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().ModelName)
            </th>
            <th style="width:140px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().ShippingQuantity)
            </th>
            <th style="width:200px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().FixedShippingQuantity)
            </th>
            <th style="width:250px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().EstArrivanDate)
            </th>
            <th style="width:50px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().PrefReportingDate)
            </th>
            <th style="width:270px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().SiTekEstArrivalDate)
            </th>
            <th style="width:170px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().DeliveryLocation)
            </th>
            <th style="width:140px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().CompleteWorkUnit)
            </th>
            <th style="width:200px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().DOAUnit)
            </th>
            <th style="width:250px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().N01NO)
            </th>
            <th style="width:200px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().SOStatusName)
            </th>
            <th style="width:250px;">
                @Html.DisplayNameFor(model => model.SrchRstOrderList.First().STChangeDate)
            </th>
        </tr>
    </thead>
    <tbody style="height:450px">
        @if (Model.SrchRstOrderList != null)
        {
            foreach (var item in Model.SrchRstOrderList)
            {
        <tr>
            <td style="width:45px;">
                <button type='submit' class='SpaceButtonSmall' formaction='/SOList/SOListUpdate?SOID=@(item.SOID)' name='UpdateLink'></button>
            </td>
            <td style="width:50px;">
                @Html.DisplayFor(modelItem => item.SONO)
            </td>
            <td style="width:270px;">
                @Html.DisplayFor(modelItem => item.n90N)
            </td>
            <td style="width:170px;">
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td style="width:140px;">
                @Html.DisplayFor(modelItem => item.ShippingQuantity)
            </td>
            <td style="width:200px;">
                @Html.DisplayFor(modelItem => item.FixedShippingQuantity)
            </td>
            <td style="width:250px;">
                @Html.DisplayFor(modelItem => item.EstArrivanDate)
            </td>
            <td style="width:50px;">
                @Html.DisplayFor(modelItem => item.PrefReportingDate)
            </td>
            <td style="width:270px;">
                @Html.DisplayFor(modelItem => item.SiTekEstArrivalDate)
            </td>
            <td style="width:170px;">
                @Html.DisplayFor(modelItem => item.DeliveryLocation)
            </td>
            <td style="width:140px;">
                @Html.DisplayFor(modelItem => item.CompleteWorkUnit)
            </td>
            <td style="width:200px;">
                @Html.DisplayFor(modelItem => item.DOAUnit)
            </td>
            <td style="width:250px;">
                @Html.DisplayFor(modelItem => item.N01NO)
            </td>
            <td style="width:50px;">
                @Html.DisplayFor(modelItem => item.SOStatusName)
            </td>
            <td style="width:270px;">
                @Html.DisplayFor(modelItem => item.STChangeDate)
            </td>
        </tr>
            }
        }
    </tbody>
</table>
