@model AsusGigaInsp.Models.SOListModels
@{
    ViewBag.Title = "オーダー検索";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link href="~/Content/SOList.css" rel="stylesheet" />
</head>
@Html.ValidationSummary()
@using (Html.BeginForm(new { autocomplete = "off" }))
{
    <div style="color:Red">
        @Html.Encode(TempData["msg"])
    </div>

    <!-- 追従ボタン -->
    <input type="button" class="btn btn-info btn-sm fixed_btn1" name="TopBtn" id="TopBtn" value="TOPに戻る">
    <input type="button" class="btn btn-info btn-sm fixed_btn2" data-toggle="modal" data-target="#Modal" name="Usage" value="凡例">

    <div id="Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    表中の背景色の意味
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-title"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-sm table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>背景色</th>
                                <th>意味</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-primary"></td>
                                <td>オーダー取り込みで変更が無かった行</td>
                            </tr>
                            <tr>
                                <td class="table-danger"></td>
                                <td>オーダー取り込みで新規に取り込まれた行</td>
                            </tr>
                            <tr>
                                <td class="table-warning"></td>
                                <td>オーダー取り込みで変更があった行</td>
                            </tr>
                            <tr>
                                <td class="bg-warning"></td>
                                <td>オーダー取り込みで変更された列</td>
                            </tr>
                            <tr>
                                <td class="bg-danger"></td>
                                <td>非稼働日に日程が設定されている列</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- モーダル部分終了 -->
    <!------------------------------------------------------------- 検索条件 ------------------------------------------------------------------>
    <div style="font-size:12px; text-align:right;">データ更新日：@Html.DisplayFor(modelItem => Model.DispInsertDate)</div>
    <div class="form-row">
        <label for="SrchSONO" class="col-form-label-sm">SO#</label>
        @Html.TextBoxFor(model => model.SrchSONO, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "" })
        <label for="SrchModelName" class="col-form-label-sm">ModelName</label>
        @Html.TextBoxFor(model => model.SrchModelName, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "" })
        <label for="SrchN01NO" class="col-form-label-sm">N01#</label>
        @Html.TextBoxFor(model => model.SrchN01NO, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "" })
    </div>

    <div class="form-row">
        <label for="SrchEstArrivalDate_S" class="col-form-label-sm">ADS到着予定日</label>
        @Html.TextBoxFor(model => model.SrchEstArrivalDate_S, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "From", id = "SrchEstArrivalDate_S" })
        <label for="SrchEstArrivalDate_E" class="col-form-label-sm">～</label>
        @Html.TextBoxFor(model => model.SrchEstArrivalDate_E, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "To", id = "SrchEstArrivalDate_E" })
        <label for="SrchPrefReportingDate_S" class="col-form-label-sm">レポート提出希望日</label>
        @Html.TextBoxFor(model => model.SrchPrefReportingDate_S, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "From", id = "SrchPrefReportingDate_S" })
        <label for="SrchPrefReportingDate_E" class="col-form-label-sm">～</label>
        @Html.TextBoxFor(model => model.SrchPrefReportingDate_E, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "To", id = "SrchPrefReportingDate_E" })
    </div>

    <div class="form-row">
        <label for="SrchEstArrivalDate_S" class="col-form-label-sm">SI/TEK到着予定日</label>
        @Html.TextBoxFor(model => model.SrchSiTekEstArrivalDate_S, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "From", id = "SrchSiTekEstArrivalDate_S" })
        <label for="SrchEstArrivalDate_E" class="col-form-label-sm">～</label>
        @Html.TextBoxFor(model => model.SrchSiTekEstArrivalDate_E, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "To", id = "SrchSiTekEstArrivalDate_E" })
        <label for="SrchStatusID" class="col-form-label-sm">ステータス</label>
        @Html.DropDownListFor(
            model => model.SrchStatusID, // プロパティ
            new SelectList(Model.DropDownListStatusName, "SOStatusID", "SOStatusName"),
            "",
            new { @class= "form-control form-control-sm", style="max-width:200px;" }
        )
    </div>
    <div class="form-row">
        <label for="SrchStatusID" class="col-form-label-sm">日付チェック</label>
        @Html.DropDownListFor(
         model => model.SrchDateError, // プロパティ
         (IEnumerable<SelectListItem>)ViewBag.DropDownDateError,
         "",
         new { @class = "form-control form-control-sm", style = "max-width:200px;" }
        )
    </div>

    <!------------------------------------------------------------- 検索条件終了 ------------------------------------------------------------------>
    <div style="float: left; margin-bottom:2px;">
        <input type="button" class="btn btn-danger" onclick="location.href='@Url.Action("SOListUpLoad", "SOList")'" value="オーダー情報取り込み" />
    </div>
    <div style="float: right; margin-bottom:2px;">
        <input type="submit" class="btn btn-primary" formaction="/SOList/SOListSearchResult" name="Search" value="検索">
        <input type="button" class="btn btn-primary" name="Clear" id="ClearBtn" value="クリア">
    </div>
    <!------------------------------------------------------ ここから検索結果 ------------------------------------------------------------------>
    <table id="So-List" class="table table-striped table-bordered table-sm table-hover sticky_table">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().SONO)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().ModelName)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().ShippingQuantity)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().FixedShippingQuantity)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().EstArrivalDate)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().PrefReportingDate)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().SiTekEstArrivalDate)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().DeliveryLocation)</th>

                <!-- 2020/9/28 Add K.Kikuchi -->
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().CapExist)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().HoldFlg)</th>
                <!-- Add End -->

                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().InputUnit)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().CompleteWorkUnit)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().DOAUnit)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().HoldUnit)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().N01NO)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().SOStatusName)</th>
                <th>@Html.DisplayNameFor(model => model.SrchRstOrderList.First().STChangeDate)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SrchRstOrderList != null)
            {
                foreach (var item in Model.SrchRstOrderList)
                {
                    string StrClass = null;

                    if (item.RecordKBN == "1")
                    {
                        StrClass = "table-danger";
                    }
                    else if (item.RecordKBN == "2")
                    {
                        if ((item.CHGModelNameFLG == "1") || (item.CHGShippingQuantityFLG == "1") || (item.CHGEstArrivalDateFLG == "1") || (item.CHGPrefReportingDateFLG == "1") || (item.CHGSiTekEstArrivalDateFLG == "1") || (item.CHGDeliveryLocationFLG == "1"))
                        {
                            StrClass = "table-warning";
                        }
                        else
                        {
                            StrClass = "table-primary";
                        }
                    }
                    else
                    {
                        StrClass = "table-primary";
                    }

                    <tr class="@StrClass">
                        <td>
                            <input type="submit" class="btn btn-primary btn-sm" style="padding-left:5px; padding-right:5px;" name="SOListUpdateLink" formaction="/SOList/SOListUpdate?SONO=@(item.SONO)" value="編集" />
                        </td>
                        <td>
                            @if (string.Compare("4010", item.SOStatusID) <= 0)
                            {
                                <input type="button" class="btn btn-success btn-sm" style="margin-bottom:5px; padding-left:5px; padding-right:5px;" onclick="location.href='@Url.Action("Export", "SOList", new { SONO =  item.SONO })'" value="レポート" />
                            }
                            <input type="button" class="btn btn-success btn-sm" style="font-size:12px; padding-left:5px; padding-right:5px; height: 31px;"  onclick="location.href='@Url.Action("PalletSheet", "SOList", new { SONO =  item.SONO })'" value="パレットシート" />
                        </td>

                        <td>@Html.ActionLink(String.Format("{0:#,0}", item.SONO), "SearchFromOutSide", "SerialList", new { SearchKey = item.SONO }, null)</td>

                        @if (item.CHGModelNameFLG == "1")
                        {
                            <td class="bg-warning">@Html.DisplayFor(modelItem => item.ModelName)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.ModelName)</td>
                        }

                        @if (item.CHGShippingQuantityFLG == "1")
                        {
                            <td class="bg-warning">@Html.DisplayFor(modelItem => item.ShippingQuantity)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.ShippingQuantity)</td>
                        }

                        <td>
                            @if (string.Compare("6010", item.SOStatusID) <= 0)
                            {
                                @Html.DisplayFor(modelItem => item.FixedShippingQuantity)
                            }
                        </td>

                        @if (item.EstArrivalDateWarningFLG == "1")
                        {
                            <td class="bg-danger" style="color:white">@Html.DisplayFor(modelItem => item.EstArrivalDate)</td>
                        }
                        else
                        {
                            if (item.CHGEstArrivalDateFLG == "1")
                            {
                                <td class="bg-warning">@Html.DisplayFor(modelItem => item.EstArrivalDate)</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.EstArrivalDate)</td>
                            }
                        }

                        @if (item.PrefReportingDateWarningFLG == "1")
                        {
                            <td class="bg-danger" style="color:white">@Html.DisplayFor(modelItem => item.PrefReportingDate)</td>
                        }
                        else
                        {
                            if (item.CHGPrefReportingDateFLG == "1")
                            {
                                <td class="bg-warning">@Html.DisplayFor(modelItem => item.PrefReportingDate)</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.PrefReportingDate)</td>
                            }
                        }
                        @if (item.SiTekEstArrivalDateWarningFLG == "1")
                        {
                            <td class="bg-danger" style="color:white">@Html.DisplayFor(modelItem => item.SiTekEstArrivalDate)</td>
                        }
                        else
                        {
                            if (item.CHGSiTekEstArrivalDateFLG == "1")
                            {
                                <td class="bg-warning">@Html.DisplayFor(modelItem => item.SiTekEstArrivalDate)</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.SiTekEstArrivalDate)</td>
                            }
                        }
                        @if (item.CHGDeliveryLocationFLG == "1")
                        {
                            <td class="bg-warning">@Html.DisplayFor(modelItem => item.DeliveryLocation)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.DeliveryLocation)</td>
                        }

                        <!-- 2020/9/28 Add K.Kikuchi -->
                        <td>@Html.DisplayFor(modelItem => item.CapExist)</td>
                        @if (item.HoldFlg == "1")
                        {
                            <td>保留</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <!-- Add End -->

                        <td>@Html.DisplayFor(modelItem => item.InputUnit)</td>
                        <td>@Html.DisplayFor(modelItem => item.CompleteWorkUnit)</td>
                        <td>@Html.DisplayFor(modelItem => item.DOAUnit)</td>
                        <td>@Html.DisplayFor(modelItem => item.HoldUnit)</td>
                        @if (item.CHGN01NoFLG == "1")
                        {
                            <td class="bg-warning">@Html.DisplayFor(modelItem => item.N01NO)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.N01NO)</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.SOStatusName)</td>
                        <td>@Html.DisplayFor(modelItem => item.STChangeDate)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" defer></script>
<script type="text/javascript">

    // クリアボタンクリック処理
    $("#ClearBtn").on("click", function () {
        clearForm(this.form);
    });

    // ソート処理
    $(document).ready(function () {
        $('#So-List').tablesorter({
            headers: {
                0: { sorter: false },
                1: { sorter: false }
            }
        });
    });

    // ADS到着予定日Fromクリック処理
    $('#SrchEstArrivalDate_S').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // ADS到着予定日Toクリック処理
    $('#SrchEstArrivalDate_E').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // レポート提出希望日Fromクリック処理
    $('#SrchPrefReportingDate_S').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // レポート提出希望日Toクリック処理
    $('#SrchPrefReportingDate_E').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // SI/TEK到着予定日Fromクリック処理
    $('#SrchSiTekEstArrivalDate_S').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // SI/TEK到着予定日Toクリック処理
    $('#SrchSiTekEstArrivalDate_E').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // TOPへ戻るボタンクリック処理
    $(function () {
        $("#TopBtn").on("click", function () {
            $("html, body").animate({ scrollTop: 0 }, 500, "swing");
        });
    });

    // CSSを無効にする
    //window.onload = function () {
    //    var disableFileName = "theme.default.min.css"; // 無効にするcssのファイル名
    //    for (var i = 0; i < document.styleSheets.length; i++) {
    //        // ファイルパス（フルパス）
    //        var styleSheetPath = document.styleSheets[i].href;
    //        // フルパスからファイル名を抽出
    //        var fileName = styleSheetPath.substring(styleSheetPath.lastIndexOf('/') + 1, styleSheetPath.length);
    //        if (fileName === disableFileName) {
    //            // 無効にするファイル名なので無効にする
    //            document.styleSheets[i].disabled = true;
    //        }
    //    }
    //};

</script>
