@model AsusGigaInsp.Models.SerialEditModels

@{
    ViewBag.Title = "シリアル編集";
}

@using (Html.BeginForm())
{
    <div class="form-group row">
        <label for="SONo" class="col-sm-2 col-form-label">SO#</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.SONo, null, new { @class = "form-control form-control-sm", style = "max-width:200px;", placeholder = "" })
        </div>
    </div>
    <div class="form-group row">
        <label for="SerialNumber" class="col-sm-2 col-form-label">シリアル</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.SerialNumber, null, new { @class = "form-control form-control-sm", style = "max-width:200px;", placeholder = "" })
        </div>
    </div>
    <div class="form-group row">
        <label for="NGFlg" class="col-sm-2 col-form-label">NGフラグ</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(
                    model => model.NGFlg,  // プロパティ
                    new { @class="form-check-input", style="margin-left:10px;" }      // その他の属性
                )
        </div>
    </div>
    <div class="form-group row">
        <label for="NGReason" class="col-sm-2 col-form-label">NG理由</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.NGReason, null, new { @class = "form-control form-control-sm", style = "max-width:200px;", placeholder = "" })
        </div>
    </div>
    <div class="form-group row">
        <label for="Instruction" class="col-sm-2 col-form-label">ASUS様指示</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(
            model => model.CondInstruction, // プロパティ
            new SelectList(Model.DropDownListInstruction, "InstructionID", "Instruction"),
            "",
            new { @class= "form-control form-control-sm", style="max-width:120px;" }
        )
        </div>
    </div>
    <div class="form-group row">
        <label for="SerialNumber" class="col-sm-2 col-form-label">備考</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.SerialNumber, null, new { @class = "form-control form-control-sm", style = "max-width:200px;", placeholder = "" })
        </div>
    </div>
}
