@model AsusGigaInsp.Models.SerialListModels
@{
    ViewBag.Title = "シリアルリスト";
}
<!-- カレンダーの月の右と左がBundleだと出ないのでとりあえずここで読み込む。後から調べる。 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
<link href="~/Content/SerialList.css" rel="stylesheet" />
@using System.Text
@using (Html.BeginForm())
{
    <!-- 検索条件エリア ------------------------------------------------------------------------------------------>
    <div class="row">
        <div class="row col-md-4";>
            <label for="SearchSONo" class="col-form-label-sm col-md-3">SO#</label>
            @Html.TextBoxFor(model => model.SearchSONo, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "" })
        </div>
        <label for="SearchSerialNumber" class="col-form-label-sm">シリアル</label>
        @Html.TextBoxFor(model => model.SearchSerialNumber, null, new { @class = "form-control form-control-sm", style = "max-width:150px; margin-left:19px;", placeholder = "" })
        <label for="Search90N" class="col-form-label-sm">90N</label>
        @Html.TextBoxFor(model => model.Search90N, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "" })
        <label for="SearchModelName" class="col-form-label-sm">Model Name</label>
        @Html.TextBoxFor(model => model.SearchModelName, null, new { @class = "form-control form-control-sm", style = "max-width:150px;", placeholder = "" })
    </div>
    <div class="row">
        <div class="row col-md-4">
            <label for="SearchWorkDayFrom" class="col-form-label-sm col-md-3">作業日</label>
            @Html.TextBoxFor(model => model.SearchWorkDayFrom, null, new { @class = "form-control form-control-sm", style = "max-width:100px;margin-right:5px;", placeholder = "From" })
            <label for="SearchWorkDayTo" class="col-form-label-sm">～</label>
            @Html.TextBoxFor(model => model.SearchWorkDayTo, null, new { @class = "form-control form-control-sm", style = "max-width:100px;margin-left:5px;", placeholder = "To" })
        </div>
        <label for="SearchSerialStatus" class="col-form-label-sm">ステータス</label>
        @Html.DropDownListFor(
            model => model.SearchSerialStatus, // プロパティ
            new SelectList(Model.DropDownListSerialStatus, "SerialStatusID", "SerialStatusName"),
            "",
            new { @class = "form-control form-control-sm", style = "max-width:150px;" }
        )
        <label for="SearchInstruction" class="col-form-label-sm">ASUS様指示</label>
        @Html.DropDownListFor(
            model => model.SearchInstruction, // プロパティ
            new SelectList(Model.DropDownListInstruction, "InstructionID", "Instruction"),
            "",
            new { @class = "form-control form-control-sm", style = "max-width:120px;" }
        )
        <div class="form-check">
            <label for="SearchNGFlg" class="form-check-label col-form-label-sm">NGフラグ</label>
            @Html.CheckBoxFor(
             model => model.SearchNGFlg,  // プロパティ
             new { @class = "form-check-input", style = "margin-left:10px; margin-top:10px;" }      // その他の属性
         )
        </div>
    </div>

    <div class="row">
        <div class="col-md-7" style="margin-top:30px;">ヒット件数：@Model.DataCnt 件</div>
        <div style="margin-top:15px; margin-left:20px;">
            <button class="btn btn-danger btn" formaction="/SerialList/Search" name="SearchBtn" id="SearchBtn">検索</button>
            <button type="button" class="btn btn-danger btn" name="Clear" id="ClearBtn">クリア</button>
            <input type="button" class="btn btn-danger btn" onclick="location.href='@Url.Action("SerialUpLoad", "SerialList")'" value="シリアル情報取込" />
            <button class="btn btn-danger btn" formaction="/SerialList/DLCsv" name="DLCsvBtn" id="DLCsvBtn">CSV出力</button>
        </div>
    </div>
    <!-- 検索結果エリア ------------------------------------------------------------------------------------------>
    <table id="SerialList" class="table table-striped table-bordered table-sm table-hover SerialListTable">
        <thead class="thead-light">
            <tr>
                <th style="display:none;"></th>
                <th style="text-align:center; width:41px;"></th>
                <th style="text-align:center; width:108px;">@Html.DisplayNameFor(model => model.RstSerialList.First().SONo)</th>
                <th style="text-align:center; width:70px;">@Html.DisplayNameFor(model => model.RstSerialList.First().n90N)</th>
                <th style="text-align:center; width:60px;">@Html.DisplayNameFor(model => model.RstSerialList.First().ModelName)</th>
                <th style="text-align:center; width:120px;">@Html.DisplayNameFor(model => model.RstSerialList.First().SerialNumber)</th>
                <th style="text-align:center; width:50px;">@Html.DisplayNameFor(model => model.RstSerialList.First().NGFlg)</th>
                <th style="text-align:center; width:120px;">@Html.DisplayNameFor(model => model.RstSerialList.First().NGReason)</th>
                <th style="text-align:center; width:70px;">@Html.DisplayNameFor(model => model.RstSerialList.First().WorkDay)</th>
                <th style="text-align:center; width:65px;">@Html.DisplayNameFor(model => model.RstSerialList.First().Instruction)</th>
                <th style="text-align:center; width:70px;">@Html.DisplayNameFor(model => model.RstSerialList.First().ShippingAddress)</th>
                <th style="text-align:center; width:120px;">@Html.DisplayNameFor(model => model.RstSerialList.First().DescriptionAds)</th>
                <th style="text-align:center; width:110px;">@Html.DisplayNameFor(model => model.RstSerialList.First().StatusName)</th>
                <th style="text-align:center; width:85px;">@Html.DisplayNameFor(model => model.RstSerialList.First().StatusUpdateDate)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RstSerialList != null)
            {
                foreach (var item in Model.RstSerialList)
                {
                    <tr>
                        <td style="display:none;">@Html.DisplayFor(modelItem => item.SerialID)</td>
                        <td style="text-align:center; width:41px;">
                            <button class="btn btn-danger btn-sm EditBtn" formaction='/SerialList/Edit' name="EditBtn" id="EditBtn">修</button>
                        </td>
                        <!-- 2020/7/20 廃止
                        <td>
                            <button type="button" class="btn btn-danger btn-sm NGBtn" name="NGBtn" id="NGBtn">NG</button>
                        </td>
                        -->
                        <td style="text-align:center; width:108px;">@Html.DisplayFor(modelItem => item.SONo)</td>
                        <td style="text-align:center; width:70px;">@Html.DisplayFor(modelItem => item.n90N)</td>
                        <td style="text-align:center; width:60px;">@Html.DisplayFor(modelItem => item.ModelName)</td>
                        <td style="text-align:center; width:120px;">@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                        <td style="text-align:center; width:50px;">
                            @if (item.NGFlg == "1")
                            {
                                <span class="text-danger font-weight-bold">NG</span>
                            }
                        </td>
                        <td style="width:120px;">@Html.DisplayFor(modelItem => item.NGReason)</td>
                        <td style="text-align:center; width:70px;">@Html.DisplayFor(modelItem => item.WorkDay)</td>
                        <td style="text-align:center; width:65px;">@Html.DisplayFor(modelItem => item.Instruction)</td>
                        <td style="text-align:center; width:70px;">@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                        <td style="width:120px;">@Html.DisplayFor(modelItem => item.DescriptionAds)</td>
                        <td style="text-align:center; width:110px;">@Html.DisplayFor(modelItem => item.StatusName)</td>
                        <td style="text-align:center; width:85px;">@Html.DisplayFor(modelItem => item.StatusUpdateDate)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <!-- ページ選択 -------------------------------------------------------------------->
    @Html.Partial("SelectPage");

    <!-- NG押下時の理由入力 ------------------------------------------------------------>
    <div class="modal fade" tabindex="-1" role="dialog" id="NGReasonModal" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NG理由</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form role="form" id="modalForm" action="/SerialList/NG" method="POST">
                    <!-- Modal ボディー -->
                    <div class="modal-body">
                        <div class="form-row" style="margin-bottom: 10px;">
                            @Html.TextAreaFor(model => model.inputNGReason, 6, 100, new { @class = "form-control form-control-sm  d-flex align-items-center", style = "max-width:400px;", placeholder = "NG理由" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.SelectSerialID)
                    <!-- Modal フッター -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary" formaction='/SerialList/NG' id="UpdateNGBtn">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
$(function () {
    // 日付選択のカレンダー表示
    $('#SearchWorkDayFrom, #SearchWorkDayTo').datepicker({
        dateFormat: 'yy/mm/dd',
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true
    });

    // クリアボタンクリック処理
    $("#ClearBtn").on("click", function () {
        clearForm(this.form);
    });

    // ソート処理
    $(document).ready(function () {
        $('#SerialList').tablesorter();
    });

    // 修正ボタンを押下時
    $('.EditBtn').click(function () {
        // 選択した行のシリアルIDをhiddenに設定
        var strSelectSerialID = $(this).closest("tr").children("td")[0].textContent;
        strSelectSerialID = $.trim(strSelectSerialID);
        $('input:hidden[name="SelectSerialID"]').val(strSelectSerialID);
    });

    // NGボタンを押下時
    $('.NGBtn').click(function () {
        // 選択した行のシリアルIDをhiddenに設定
        var strSelectSerialID = $(this).closest("tr").children("td")[0].textContent;
        strSelectSerialID = $.trim(strSelectSerialID);
        $('input:hidden[name="SelectSerialID"]').val(strSelectSerialID);
        $('#NGReasonModal').modal();
    });

    // ページ番号を押下時
    $('.PageSearch').click(function () {
        // 選択したページ番号をhiddenにセット
        switch ($(this).text()) {
            case "＜":
                $('#SelectPage').val(@Model.SelectPage - 1);
                break;
            case "＞":
                $('#SelectPage').val(@Model.SelectPage + 1);
                break;
            default:
                $('#SelectPage').val($(this).text());
                break;
        }
        $(this).parents('form').attr('action', '/SerialList/PageSearch');
        $('form')[0].submit();
        return false;
    });

});
</script>
